
<footer class="w-100 py-4 flex-shrink-0 navbar-dark bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="{{ url_for('main.index') }}" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="{{ url_for('main.animals') }}" class="nav-link px-2 text-muted">Animals</a></li>
    <li class="nav-item"><a href="{{ url_for('main.activities') }}" class="nav-link px-2 text-muted">Activities</a></li>
    <li class="nav-item"><a href="{{ url_for('main.contact_us') }}" class="nav-link px-2 text-muted">Contact Us</a></li>
  </ul>
  <p class="text-center text-muted">© 2022 Space Zoo, Inc</p>
</footer>
